:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.login-form {
  width: 440px;
}

.login-form,
.big-logo {
  place-self: center;
}

.password-input {
  position: relative;
}

.password-eye-button {
  position: absolute;
  top: 55%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--light-color);
  background: none;
  border: none;
  cursor: pointer;

  &.active {
    color: var(--primary-color);
  }
}
